/*Fuentes*/
*  {
   font-family: Georgia, 'Times New Roman', Times, serif, Verdana, Geneva, Tahoma, sans-serif;
}

.container  {
    max-width: 90%;
}
/*Barra de navegación*/
.navbar  {
  padding-left: 20px;
  background-color: #7493a2;
  margin-bottom: 35px;
}

.navbar-collapse  {
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.nombre_barra {
  display: inline;
  vertical-align: middle;
  margin: 0 20px 0 20px ;
}

.nav-item  {
  margin: 0 10px 0 10px;
}

/*Seccion principal*/
.principal  {
  margin-top: 20px;
}


/*Cuerpo del documento*/
body  {
  text-align: justify;
  font-size: 20px;
  background-color: rgb(244, 241, 236);
}

h1, h2  {
    font: georgia;
    text-align: right;
    font-weight: bolder;
}

.subtitulo  {
  margin-bottom: 25px;
}
h3  {
  font: verdana;
  font-weight: bolder;
}
h4  {
  text-align: center;
}

.colizquierda {
  border-radius: 20px;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #788da2, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #b2d2f1, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 5px;
}
.card  {
  box-sizing:border-box;
  background-color: #9da8ad;
  margin: 15px ;
}
#imagen {
  padding: 2px;
  margin: 4px;
}

.card-text  {
  text-align: right;
  color: rgb(255, 255, 255);
  font: bolder;
  font-size: 1.5rem;
}

.lista_contactos  {
  list-style: none;
  text-align: right;
}

.row_contacto  {
  border-top: solid 3px #9da8ad;
  padding-top: 10px;
}

.row_redes_sociales  {
  border-bottom: solid 3px #9da8ad;
  margin-bottom: 12px;
  padding-bottom: 10px;
}

.iconos  {
  font-size: 40px;
  text-align: center;
}

.bi-whatsapp  {
  color: #188a03;
  padding-right: 20px;
}
.bi-whatsapp:hover  {
  color: lightgreen;
  opacity: 0,7;
}
.bi-facebook  {
  color:  #1b32b8;
  padding-right: 20px;
}
.bi-facebook:hover  {
  color: lightblue;
  opacity: 0,7;
}

.bi-instagram  {
  color:  #e6155f;
  padding-right: 20px;
}
.bi-instagram:hover  {
  color: rgb(248, 138, 166);
  opacity: 0,7;
}

.bi-linkedin  {
  color:  #3882c8;
  padding-right: 20px;
}
.bi-linkedin:hover  {
  color: rgb(155, 187, 237);
  opacity: 0,7;
}

.bi-globe-americas  {
  color: #188a03;
  font-size: 40px;
  padding-right: 10px;
}

.link_pagina  {
  font-size: 30px;
  text-align:justify;
  margin: 20px;
}

.row_referencias  {
  border-bottom: solid 3px #9da8ad;
}
.parrafo_referencias  {
  margin: 10px 0 30px 50px ;
}

.row_pasatiempos  {
  padding: 20px;
}

.iconos_pasatiempos  {
  border: 3px solid rgb(156, 151, 151);
  border-style: double;
  border-radius: 100px;
  font-size: 40px;
  margin: 10px 10px;
  padding: 10px;
  background-color: transparent;
}

.fas  {
  margin: 20px;
}

.parrafo_pasatiempos  {
  text-indent: 45px;
  margin-bottom: 20px;  
}

.boton_reset  {
  margin: 0;
  -ms-transform: translatex(50%);
  transform: translatex(50%);
}

.boton_enviar  {
  margin: 0;
  -ms-transform: translatex(150%);
  transform: translatex(150%);
}

/*Columna derecha*/
.colderecha  {
  border-radius: 20px;
}
.perfil_personal  {
  margin: 20px 0 20px 20px;
  border-bottom: solid 3px #9da8ad;
}

.p_personal, .p_formacion, .p_experiencia, .p_proyectos  {
  text-indent: 50px;
}
.info_personal, .formacion, .experiencia, .proyectos  {
  margin: 40px 0 20px 20px;
  border-bottom: solid 3px #9da8ad;
}

.proyectos  {
  border-bottom: none;
}

.iconos_experiencia  {
  font-size: 50px;
  color: #c9d8df;
  background-color: #12222a;
  border-radius: 50%;
  margin: 20px;
}

.spancol  {
  text-align: center;
}

.colex1, .colex2, .colex3  {
  margin-bottom: 30px;
}
/*Carrousel*/

.carousel-item  {
  max-width: 100% ;
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #3882c8;
}

.formulario  {
  border-top: solid 3px #9da8ad;
  margin: 50px 0px 10px 0px;
}

.titulo_formulario  {
  margin: 20px 0px 10px 0px;
}
.form  {
  margin-top: 0px;
}


/*Rangos habilidades*/


.habilidades  {
  max-width: 100%;
  background-color: #12222a;
  border-radius: 20px;
  min-height: 200px;
  margin-top: 65px;
  margin-bottom: 50px;
  z-index: 0;
}

.rangos  {
  max-width: 60%;
  background-color: #49f62a;
  border-radius: 50px;
  box-shadow: 0px 1px 4px 1px white;
  min-height: 150px;
  z-index: 1;
  margin-top: -60px;
  position: absolute;
  right: 20%;
}

.footer  {
  color: white;
  background-color: #12222a;
 }

.profess-cover  {
  margin: 15px;
  background-colo: #1b32b8;
}
.progress  {
  width: 100%;
  vertical-align: middle;
  margin: 15px;
}

.fab, .fa, .material-icons  {
  font-size: 30px;
  vertical-align: middle;
}



 /*Responsive*/
@media screen and (max-width: 767px){
  .navbar-brand  {
    display: none;
  }
}
@media screen and (max-width: 767px){
  .carousel-inner  {
    display:flex;
  }
}
@media screen and (max-width: 767px){
  .colderecha  {
    border-radius: 1%;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #788da2, #b6c5ce);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #a3b4c5, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}
