html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/*Fuentes*/
*  {
   font-family: Georgia, 'Times New Roman', Times, serif, Verdana, Geneva, Tahoma, sans-serif;
}

.container  {
    max-width: 90%;
}
/*Barra de navegación*/
.navbar  {
  padding-left: 20px;
  background-color: #7493a2;
}

.navbar-collapse  {
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.nombre_barra {
  display: inline;
  vertical-align: middle;
  margin: 0 20px 0 20px ;
}

.nav-item  {
  margin: 0 10px 0 10px;
}

/*Cuerpo del documento*/
body  {
  text-align: justify;
  font-size: 20px;
}

h1, h2  {
    font: georgia;
    text-align: right;
    font-weight: bolder;
}
h3  {
  font: verdana;
  font-weight: bolder;
}
h4  {
  text-align: center;
}

/*.colizquierda, .colderecha {
  border: 1px solid white;
  border-radius: 2%;
  background: #7b489c;  /* fallback for old browsers *//*
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 *//*
  background: linear-gradient(to right, #49a09d, #b97edf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
}*/
.card  {
  box-sizing:border-box;
  background-color: #9da8ad;
  margin-bottom: 16px;
}
#imagen {
  padding: 2px;
  margin: 4px;
}

.card-text  {
  text-align: right;
  color: rgb(104, 97, 97);
  font: bold;
  font-size: larger;
}

.lista_contactos  {
  list-style: none;
  text-align: right;
}

.row_contacto  {
  border-top: solid 3px #9da8ad;
  padding-top: 10px;
}

.row_redes_sociales  {
  border-bottom: solid 3px #9da8ad;
  margin-bottom: 12px;
  padding-bottom: 10px;
}

.iconos  {
  font-size: 50px;
  text-align: center;
}

.bi-whatsapp  {
  color: #188a03;
  padding-right: 20px;
}
.bi-whatsapp:hover  {
  color: lightgreen;
  opacity: 0,7;
}
.bi-facebook  {
  color:  #1b32b8;
  padding-right: 20px;
}
.bi-facebook:hover  {
  color: lightblue;
  opacity: 0,7;
}

.bi-instagram  {
  color:  #e6155f;
  padding-right: 20px;
}
.bi-instagram:hover  {
  color: rgb(248, 138, 166);
  opacity: 0,7;
}

.bi-linkedin  {
  color:  #3882c8;
  padding-right: 20px;
}
.bi-linkedin:hover  {
  color: rgb(155, 187, 237);
  opacity: 0,7;
}

.bi-pinterest  {
  color:  #ff0f0f;
}
.bi-pinterest:hover  {
  color: rgb(245, 150, 150);
  opacity: 0,7;
}

.bi-globe-americas  {
  color: #188a03;
  font-size: 20px;
  padding-right: 10px;
}

.link_pagina  {
  text-align: center;
  margin-bottom: 20px;
}

.a {
  break-after: auto;
}

.row_referencias  {
  border-bottom: solid 3px #9da8ad;
}
.parrafo_referencias  {
  margin: 10px 0 30px 50px ;
}

.row_pasatiempos  {
  padding-top: 10px;
}

.parrafo_pasatiempos  {
  text-indent: 45px;
  margin-bottom: 20px;  
}


/*Columna derecha*/
.perfil_personal  {
  margin: 20px 0 20px 20px;
  border-bottom: solid 3px #9da8ad;
}

.p_personal, .p_formacion, .p_experiencia, .p_proyectos  {
  text-indent: 50px;
}
.info_personal, .formacion, .experiencia, .proyectos  {
  margin: 40px 0 20px 20px;
  border-bottom: solid 3px #9da8ad;
}

.iconos_experiencia  {
  font-size: 50px;
  color: #c9d8df;
  background-color: #12222a;
  border-radius: 50%;
  margin: 20px;
}

.badge  {
  justify-content: space-between;
}
/*Carrousel
.carousel-item  {
  width: 50%;
  height: 50%;
}
*/

.carousel-inner div {
  max-width: 1200px;
  max-height: 500px;
}
.footer  {
  color: white;
  background-color: #12222a;
  margin-top: 10px;
 }



 /*Responsive*/
@media screen and (max-width: 767px){
  .navbar-brand  {
    display: none;
  }
}
@media screen and (max-width: 767px){
  .carousel-inner  {
    display:flex;
  }
}
